form.user .form-control-user {
    font-size: 1.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}
form.user .btn-user {
    font-size: 1.8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}
.small, small {
    font-size: 125%;
    font-weight: 400;
}